<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ConetUsers"
         connectionString="workstation id=ConetUsers.mssql.somee.com;packet size=4096;user id=nsun527_SQLLogin_1;pwd=g9oo6yct17;data source=ConetUsers.mssql.somee.com;persist security info=False;initial catalog=ConetUsers"/>
  </connectionStrings>

  <appSettings>
    <add key="ConetFTP" value="ftp://198.37.116.29/www.conet.somee.com/tims.xml"/>
    <add key="ConetFTPUser" value="nsun527"/>
    <add key="ConetFTPPassword" value="RollingRess0"/>
  </appSettings>

</configuration>
